<p id="notice"><%= notice %></p>
<center>
<h1>Topicos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title %></td>
        <td><%= message.description %></td>

        <% if can? :manage, message %>
        <td><%= link_to 'Show', message, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_message_path(message), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Topico', new_message_path, :class => "btn btn-primary btn-lg" %>
</center>
